
card, .card {
    width: '100%';
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;   
    background: linear-gradient(to top, #ffffff 0%, #fff9f7 70%);
}
text, .text{
    color: #062133;
    font-family: "Georgia"; 
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    padding: 10pt;
    border-top:3px solid;
    margin-top: 20px; 
    margin-bottom: 20px;
    
}
h3, .title {
    font-family: "Georgia" ;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 22px;
    
}
h1, .h1{
    margin-top: 40px; 
    margin-bottom: 20px;
    padding: 10px;
    Color: #062133;
    font-family: "Chalkduster";
    font-weight: bold; 
}

