
card, .card {
    width: '100%';
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;   
    background: linear-gradient(to bottom right, #dac2b1 0%,  #ffffff 100%);
}
text, .text{
    color: #062133;
    font-family: "Georgia"; 
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    padding: 10pt;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #775a47;
    margin-top: 20px; 
    margin-bottom: 18px;
    
}
h3, .title {
    font-family: "Georgia" ;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 22px;
}
h4{
    font-family: "Georgia" ;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid; 
}
h1, .h1{
    margin-top: 40px; 
    margin-bottom: 20px;
    padding: 10px;
    Color: #062133;
    font-family: "Chalkduster";
    font-weight: bold; 
}

